:root {
  --bg: hsl(206, 21%, 94%);
  --titleRed: hsl(357, 99%, 61%);
  --titleBig: hsl(207, 25%, 37%);
  --textColor: hsl(208, 13%, 55%);
  --btnBg: hsl(191, 89%, 43%);
  --btnTitle: hsl(187, 100%, 85%);
  --tabBg: hsl(210, 20%, 90%);
  --tabClose: hsl(3, 85%, 64%);
  --tabResize: hsl(41, 95%, 62%);
  --tabMin: hsl(109, 56%, 52%);
  --inputBg: hsl(0, 0%, 100%);
}
