:root {
  --bg: hsl(206, 21%, 94%);
  --title-red: hsl(357, 99%, 61%);
  --title-big: hsl(207, 25%, 37%);
  --text-color: hsl(208, 13%, 55%);
  --btn-bg: hsl(191, 89%, 43%);
  --btn-title: hsl(187, 100%, 85%);
  --tab-bg: hsl(210, 20%, 90%);
  --tab-close: hsl(3, 85%, 64%);
  --tab-resize: hsl(41, 95%, 62%);
  --tab-min: hsl(109, 56%, 52%);
  --input-bg: hsl(0, 0%, 100%);
}
