@use "scss/globals/" as global;
@use "scss/utils/functions" as *;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100vh;
}
body {
  background-color: var(--bg);
  color: var(--text-color)
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: rem(20);
  padding-top: rem(50);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
