@use 'scss/utils/functions' as *;

.container {
  background-color: red;
}

.main_nav {
  display: flex;
  justify-content: space-between;
}

.navTitle {
  font-size: rem(24);
  font-weight: 700;
}
.nav_title__red {
  color: var(--title-red)
}
.icon svg {
  width: 24px;
}
